<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>bend(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que doble su cuerpo.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>bend(beats:Double)</string>
			</dict>
		</dict>
		<key>bendAndTwist(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que doble y gire su cuerpo.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>bendAndTwist(beats:Double)</string>
			</dict>
		</dict>
		<key>crasyDance(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que haga unos movimientos muy locos.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 5 y 200. El valor predeterminado es 10.</string>
				<key>Title</key>
				<string>crasyDance(beats:Double)</string>
			</dict>
		</dict>
		<key>happy(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que haga un baile feliz.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 10. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>happy(beats:Double)</string>
			</dict>
		</dict>
		<key>moveBackward(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que se mueva hacia atrás.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>moveBackward(beats:Double)</string>
			</dict>
		</dict>
		<key>moveBody(beats:Double, moves:()-&gt;Void)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Realizar al mismo tiempo todos los movimientos del servomotor especificados dentro del parámetro de movimientos.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.25 y 20. El valor predeterminado es 1.
**moves**: un cierre que contiene las rotaciones del servomotor que se realizarán al mismo tiempo. Aquí es donde usarías comandos como `moveLeftArm()`, `moveRightLeg()`, etc., para mover el cuerpo de MeeBot. Este cierre no toma parámetros ni tiene valor de retorno. Este parámetro no debe ser NULL.</string>
				<key>Title</key>
				<string>moveBody(beats:Double, moves:()-&gt;Void)</string>
			</dict>
		</dict>
		<key>moveBody(moves:()-&gt;Void)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Realizar al mismo tiempo todos los movimientos del servomotor especificados dentro del parámetro de movimientos.
**moves**: un cierre que contiene las rotaciones del servomotor que se realizarán al mismo tiempo. Aquí es donde usarías comandos como `moveLeftArm()`, `moveRightLeg()`, etc., para mover el cuerpo de MeeBot. Este cierre no toma parámetros ni tiene valor de retorno. Este parámetro no debe ser NULL.</string>
				<key>Title</key>
				<string>moveBody(moves:()-&gt;Void)</string>
			</dict>
		</dict>
		<key>moveForward(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que se mueva hacia adelante.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.25 y 20. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>moveForward(beats:Double)</string>
			</dict>
		</dict>
		<key>moveLeftArm(angle:Int, beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Rotar el servomotor del brazo izquierdo de MeeBot en un ángulo específico.
**angle**: un valor Double entre -110 y 75 que especifica el ángulo de rotación (en grados) del servomotor del brazo izquierdo.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.25 y 20. El valor predeterminado es 1.</string>
				<key>Title</key>
				<string>moveLeftArm(angle:Int, beats:Double)</string>
			</dict>
		</dict>
		<key>moveLeftFoot(angle:Int, beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Rotar el servomotor del pie izquierdo de MeeBot en un ángulo específico.
**angle**: un valor Double entre -65 y 75 que especifica el ángulo de rotación (en grados) del servomotor del pie izquierdo.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.25 y 20. El valor predeterminado es 1.</string>
				<key>Title</key>
				<string>moveLeftFoot(angle:Int, beats:Double)</string>
			</dict>
		</dict>
		<key>moveLeftLeg(angle:Int, beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Rotar el servomotor de la pierna izquierda de MeeBot en un ángulo específico.
**angle**: un valor Double entre -45 y 45 que especifica el ángulo de rotación (en grados) del servomotor de la pierna izquierda.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.25 y 20. El valor predeterminado es 1.</string>
				<key>Title</key>
				<string>moveLeftLeg(angle:Int, beats:Double)</string>
			</dict>
		</dict>
		<key>moveRightArm(angle:Int, beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Rotar el servomotor del brazo derecho de MeeBot en un ángulo específico.
**angle**: un valor Double entre -75 y 110 que especifica el ángulo de rotación (en grados) del servomotor del brazo derecho.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1.25 y 50. El valor predeterminado es 5.</string>
				<key>Title</key>
				<string>moveRightArm(angle:Int, beats:Double)</string>
			</dict>
		</dict>
		<key>moveRightFoot(angle:Int, beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Rotar el servomotor del pie derecho de MeeBot en un ángulo específico.
**angle**: un valor Double entre -65 y 75 que especifica el ángulo de rotación (en grados) del servomotor del pie derecho.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.25 y 20. El valor predeterminado es 1.</string>
				<key>Title</key>
				<string>moveRightFoot(angle:Int, beats:Double)</string>
			</dict>
		</dict>
		<key>moveRightLeg(angle:Int, beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Rotar el servomotor de la pierna derecha de MeeBot en un ángulo específico.
**angle**: un valor Double entre -45 y 45 que especifica el ángulo de rotación (en grados) del servomotor de la pierna derecha.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1.25 y 50. El valor predeterminado es 5.</string>
				<key>Title</key>
				<string>moveRightLeg(angle:Int, beats:Double)</string>
			</dict>
		</dict>
		<key>moveToLeft(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que se mueva a la izquierda.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 0.5 y 10. El valor predeterminado es 2.</string>
				<key>Title</key>
				<string>moveToLeft(beats:Double)</string>
			</dict>
		</dict>
		<key>moveToRight(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que se mueva a la derecha.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 2.</string>
				<key>Title</key>
				<string>moveToRight(beats:Double)</string>
			</dict>
		</dict>
		<key>raiseHands(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que levante las manos.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1.25 y 50. El valor predeterminado es 5.</string>
				<key>Title</key>
				<string>raiseHands(beats:Double)</string>
			</dict>
		</dict>
		<key>reset()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Establecer MeeBot a su postura inicial; todos los ángulos de sus articulaciones serían 0</string>
				<key>Title</key>
				<string>reset()</string>
			</dict>
		</dict>
		<key>setBpmOfMySong(bpm:UInt)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Establecer el PPM de tu propia canción. Esta función acepta un número entero de entre 30 y 500.</string>
				<key>Title</key>
				<string>setBpmOfMySong(bpm:UInt)</string>
			</dict>
		</dict>
		<key>shake(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que sacuda cuerpo.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>shake(beats:Double)</string>
			</dict>
		</dict>
		<key>skip(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que salte.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>skip(beats:Double)</string>
			</dict>
		</dict>
		<key>split(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que se abra de piernas.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>split(beats:Double)</string>
			</dict>
		</dict>
		<key>stepAndShake(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que dé un paso hacia adelante y sacuda la cabeza.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 5.</string>
				<key>Title</key>
				<string>stepAndShake(beats:Double)</string>
			</dict>
		</dict>
		<key>swagger(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que se pavonee.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1.25 y 50. El valor predeterminado es 5.</string>
				<key>Title</key>
				<string>swagger(beats:Double)</string>
			</dict>
		</dict>
		<key>twist(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que gire sus manos y su cuerpo.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>twist(beats:Double)</string>
			</dict>
		</dict>
		<key>wave(beats:Double)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dile a MeeBot que salude.
**beats**: la duración total de los movimientos, medida en pulsaciones. El valor de este parámetro es un número Double entre 1 y 40. El valor predeterminado es 4.</string>
				<key>Title</key>
				<string>wave(beats:Double)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
