<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shengti1</key>
		<array>
			<real>-0.045</real>
			<real>38.482</real>
			<real>-5.53</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti2</key>
		<array>
			<real>-23.781</real>
			<real>0</real>
			<real>-7.388</real>
			<real>0</real>
			<real>0</real>
			<real>-10.554</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.903</real>
			<real>0</real>
			<real>-0.205</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti4</key>
		<array>
			<real>-24.123</real>
			<real>75.714</real>
			<real>7.593</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.807</real>
			<real>-52.919</real>
			<real>11.901</real>
			<real>0</real>
			<real>0.021</real>
			<real>0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847</real>
			<real>-0.49</real>
			<real>-0.008999999999999999</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.955</real>
			<real>19.617</real>
			<real>-17.995</real>
			<real>0</real>
			<real>0</real>
			<real>-32.299</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.929</real>
			<real>22.795</real>
			<real>19.494</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.825</real>
			<real>38.482</real>
			<real>6.371</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993</real>
			<real>19.685</real>
			<real>-18.225</real>
			<real>0</real>
			<real>0</real>
			<real>65.904</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.082</real>
			<real>22.305</real>
			<real>19.485</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.078</real>
			<real>28.778</real>
			<real>6.363</real>
			<real>0</real>
			<real>0</real>
			<real>50.784</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>0.168</real>
			<real>1.288</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
	</dict>
	<dict>
		<key>shengti1</key>
		<array>
			<real>-0.045</real>
			<real>38.482</real>
			<real>-5.53</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti2</key>
		<array>
			<real>-23.781</real>
			<real>0</real>
			<real>-7.388</real>
			<real>0</real>
			<real>0</real>
			<real>0.144</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.903</real>
			<real>0</real>
			<real>-0.205</real>
			<real>0</real>
			<real>0</real>
			<real>11.248</real>
		</array>
		<key>shengti4</key>
		<array>
			<real>-24.123</real>
			<real>75.714</real>
			<real>7.593</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.807</real>
			<real>-52.919</real>
			<real>11.901</real>
			<real>0</real>
			<real>0.021</real>
			<real>0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847</real>
			<real>-0.49</real>
			<real>-0.008999999999999999</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.955</real>
			<real>19.617</real>
			<real>-17.995</real>
			<real>0</real>
			<real>0</real>
			<real>19.617</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.929</real>
			<real>22.795</real>
			<real>19.494</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.825</real>
			<real>28.185</real>
			<real>6.371</real>
			<real>0</real>
			<real>0</real>
			<real>-51.587</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>-0.162</real>
			<real>1.333</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993</real>
			<real>19.685</real>
			<real>-18.225</real>
			<real>0</real>
			<real>0</real>
			<real>23.977</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.082</real>
			<real>22.305</real>
			<real>19.485</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.078</real>
			<real>38.625</real>
			<real>6.363</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-0.081</real>
			<real>-0.04</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
	</dict>
	<dict>
		<key>shengti1</key>
		<array>
			<real>-0.045</real>
			<real>38.482</real>
			<real>-5.53</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti2</key>
		<array>
			<real>-23.781</real>
			<real>0</real>
			<real>-7.388</real>
			<real>0</real>
			<real>0</real>
			<real>-10.554</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.903</real>
			<real>0</real>
			<real>-0.205</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti4</key>
		<array>
			<real>-24.123</real>
			<real>75.714</real>
			<real>7.593</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.807</real>
			<real>-52.919</real>
			<real>11.901</real>
			<real>0</real>
			<real>0.021</real>
			<real>0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847</real>
			<real>-0.49</real>
			<real>-0.008999999999999999</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.955</real>
			<real>19.617</real>
			<real>-17.995</real>
			<real>0</real>
			<real>0</real>
			<real>-32.299</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.929</real>
			<real>22.795</real>
			<real>19.494</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.825</real>
			<real>38.482</real>
			<real>6.371</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993</real>
			<real>19.685</real>
			<real>-18.225</real>
			<real>0</real>
			<real>0</real>
			<real>65.904</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.082</real>
			<real>22.305</real>
			<real>19.485</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.078</real>
			<real>28.778</real>
			<real>6.363</real>
			<real>0</real>
			<real>0</real>
			<real>50.784</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>0.168</real>
			<real>1.288</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
	</dict>
	<dict>
		<key>shengti1</key>
		<array>
			<real>-0.045</real>
			<real>38.482</real>
			<real>-5.53</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti2</key>
		<array>
			<real>-23.781</real>
			<real>0</real>
			<real>-7.388</real>
			<real>0</real>
			<real>0</real>
			<real>0.144</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.903</real>
			<real>0</real>
			<real>-0.205</real>
			<real>0</real>
			<real>0</real>
			<real>11.248</real>
		</array>
		<key>shengti4</key>
		<array>
			<real>-24.123</real>
			<real>75.714</real>
			<real>7.593</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.807</real>
			<real>-52.919</real>
			<real>11.901</real>
			<real>0</real>
			<real>0.021</real>
			<real>0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847</real>
			<real>-0.49</real>
			<real>-0.008999999999999999</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.955</real>
			<real>19.617</real>
			<real>-17.995</real>
			<real>0</real>
			<real>0</real>
			<real>-67.867</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.929</real>
			<real>22.795</real>
			<real>19.494</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.825</real>
			<real>28.185</real>
			<real>6.371</real>
			<real>0</real>
			<real>0</real>
			<real>-51.587</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>-0.162</real>
			<real>1.333</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993</real>
			<real>19.685</real>
			<real>-18.225</real>
			<real>0</real>
			<real>0</real>
			<real>23.977</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.082</real>
			<real>22.305</real>
			<real>19.485</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.078</real>
			<real>38.625</real>
			<real>6.363</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-0.081</real>
			<real>-0.04</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
	</dict>
</array>
</plist>
