<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shengti2</key>
		<array>
			<real>-23.780999999999999</real>
			<real>0.0</real>
			<real>-7.3879999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.902999999999999</real>
			<real>0.0</real>
			<real>-0.20499999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>-23.199999999999999</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.806999999999999</real>
			<real>-52.918999999999997</real>
			<real>11.901</real>
			<real>0.0</real>
			<real>-1.379</real>
			<real>0.0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847000000000001</real>
			<real>-0.48999999999999999</real>
			<real>-0.0089999999999999993</real>
			<real>0.0</real>
			<real>-1.3999999999999999</real>
			<real>0.0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.954999999999998</real>
			<real>19.617000000000001</real>
			<real>-17.995000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>-30</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.914000000000001</real>
			<real>22.795000000000002</real>
			<real>18.494</real>
			<real>0.0</real>
			<real>10</real>
			<real>0.0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.824999999999999</real>
			<real>58.481999999999999</real>
			<real>6.3710000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>20</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>3.2650000000000001</real>
			<real>-2.3959999999999999</real>
			<real>-1.0049999999999999</real>
			<real>0.0</real>
			<real>10</real>
			<real>0.0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993000000000002</real>
			<real>19.684999999999999</real>
			<real>-18.225000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>30</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.096000000000000002</real>
			<real>22.035</real>
			<real>20.484999999999999</real>
			<real>0.0</real>
			<real>5</real>
			<real>0.0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.077999999999999</real>
			<real>38.481999999999999</real>
			<real>6.3630000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-0.088999999999999996</real>
			<real>0.037999999999999999</real>
			<real>1</real>
			<real>0.0</real>
			<real>5</real>
			<real>0.0</real>
		</array>
	</dict>
	<dict>
		<key>shengti2</key>
		<array>
			<real>-23.780999999999999</real>
			<real>0.0</real>
			<real>-7.3879999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.902999999999999</real>
			<real>0.0</real>
			<real>-0.20499999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.806999999999999</real>
			<real>-52.918999999999997</real>
			<real>11.901</real>
			<real>0.0</real>
			<real>14.021000000000001</real>
			<real>0.0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847000000000001</real>
			<real>-0.48999999999999999</real>
			<real>-0.0089999999999999993</real>
			<real>0.0</real>
			<real>14</real>
			<real>0.0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.954999999999998</real>
			<real>19.617000000000001</real>
			<real>-17.995000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>-80</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-46.209000000000003</real>
			<real>22.795000000000002</real>
			<real>29.494</real>
			<real>0.0</real>
			<real>-10</real>
			<real>0.0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.824999999999999</real>
			<real>38.481999999999999</real>
			<real>6.3710000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>1.72</real>
			<real>0.0</real>
			<real>10.005000000000001</real>
			<real>0.0</real>
			<real>-10</real>
			<real>0.0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993000000000002</real>
			<real>19.684999999999999</real>
			<real>-18.225000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>80</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-1.806</real>
			<real>22.035</real>
			<real>9.4849999999999994</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.077999999999999</real>
			<real>38.481999999999999</real>
			<real>6.3630000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-1.806</real>
			<real>0.0</real>
			<real>-10</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
	</dict>
	<dict>
		<key>shengti2</key>
		<array>
			<real>-23.780999999999999</real>
			<real>0.0</real>
			<real>-7.3879999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>23.199999999999999</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.902999999999999</real>
			<real>0.0</real>
			<real>-0.20499999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.806999999999999</real>
			<real>-52.918999999999997</real>
			<real>11.901</real>
			<real>0.0</real>
			<real>-1.379</real>
			<real>0.0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847000000000001</real>
			<real>-0.48999999999999999</real>
			<real>-0.0089999999999999993</real>
			<real>0.0</real>
			<real>-1.3999999999999999</real>
			<real>0.0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.954999999999998</real>
			<real>19.617000000000001</real>
			<real>-17.995000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>-30</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.914000000000001</real>
			<real>22.795000000000002</real>
			<real>18.494</real>
			<real>0.0</real>
			<real>-5</real>
			<real>0.0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.824999999999999</real>
			<real>38.481999999999999</real>
			<real>6.3710000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>0.014</real>
			<real>0.0060000000000000001</real>
			<real>-0.998</real>
			<real>0.0</real>
			<real>-5</real>
			<real>0.0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993000000000002</real>
			<real>19.684999999999999</real>
			<real>-18.225000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>30</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.096000000000000002</real>
			<real>22.035</real>
			<real>20.484999999999999</real>
			<real>0.0</real>
			<real>-10</real>
			<real>0.0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.077999999999999</real>
			<real>58.481999999999999</real>
			<real>6.3630000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>-20</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-3.3250000000000002</real>
			<real>-2.452</real>
			<real>1</real>
			<real>0.0</real>
			<real>-10</real>
			<real>0.0</real>
		</array>
	</dict>
	<dict>
		<key>shengti2</key>
		<array>
			<real>-23.780999999999999</real>
			<real>0.0</real>
			<real>-7.3879999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.902999999999999</real>
			<real>0.0</real>
			<real>-0.20499999999999999</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.806999999999999</real>
			<real>-52.918999999999997</real>
			<real>11.901</real>
			<real>0.0</real>
			<real>-13.978999999999999</real>
			<real>0.0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.847000000000001</real>
			<real>-0.48999999999999999</real>
			<real>-0.0089999999999999993</real>
			<real>0.0</real>
			<real>-14</real>
			<real>0.0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.954999999999998</real>
			<real>19.617000000000001</real>
			<real>-17.995000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>-80</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-46.209000000000003</real>
			<real>22.795000000000002</real>
			<real>9.4939999999999998</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.824999999999999</real>
			<real>38.481999999999999</real>
			<real>6.3710000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>1.72</real>
			<real>0.0</real>
			<real>-10</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993000000000002</real>
			<real>19.684999999999999</real>
			<real>-18.225000000000001</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>60</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-1.7989999999999999</real>
			<real>22.035</real>
			<real>29.484999999999999</real>
			<real>0.0</real>
			<real>10</real>
			<real>0.0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.077999999999999</real>
			<real>38.481999999999999</real>
			<real>6.3630000000000004</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-1.7989999999999999</real>
			<real>0.0</real>
			<real>10</real>
			<real>0.0</real>
			<real>10</real>
			<real>0.0</real>
		</array>
	</dict>
</array>
</plist>
