<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shengti1</key>
		<array>
			<real>-0.05</real>
			<real>38.48</real>
			<real>-5.35</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti2</key>
		<array>
			<real>-23.8</real>
			<real>0</real>
			<real>-7.39</real>
			<real>0</real>
			<real>0</real>
			<real>-12.6</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.9</real>
			<real>0</real>
			<real>-0.21</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti4</key>
		<array>
			<real>-24.01</real>
			<real>75.70999999999999</real>
			<real>7.593</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.8</real>
			<real>-52.9</real>
			<real>11.901</real>
			<real>0</real>
			<real>0.21</real>
			<real>0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.85</real>
			<real>-0.49</real>
			<real>-0.01</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.955</real>
			<real>19.617</real>
			<real>-17.995</real>
			<real>0</real>
			<real>0</real>
			<real>67.84399999999999</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.9</real>
			<real>22.795</real>
			<real>19.49</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.8</real>
			<real>38.48</real>
			<real>6.371</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993</real>
			<real>19.685</real>
			<real>-18.225</real>
			<real>0</real>
			<real>0</real>
			<real>66.765</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.08</real>
			<real>22.031</real>
			<real>19.49</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.078</real>
			<real>27.05</real>
			<real>6.363</real>
			<real>0</real>
			<real>0</real>
			<real>54.39</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>0.103</real>
			<real>1.589</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
	</dict>
	<dict>
		<key>shengti1</key>
		<array>
			<real>-0.05</real>
			<real>38.48</real>
			<real>-5.35</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti2</key>
		<array>
			<real>-23.8</real>
			<real>0</real>
			<real>-7.39</real>
			<real>0</real>
			<real>0</real>
			<real>-0.103</real>
		</array>
		<key>shengti3</key>
		<array>
			<real>47.9</real>
			<real>0</real>
			<real>-0.21</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti4</key>
		<array>
			<real>-24.01</real>
			<real>75.70999999999999</real>
			<real>7.593</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>shengti5</key>
		<array>
			<real>-23.8</real>
			<real>-52.9</real>
			<real>11.901</real>
			<real>0</real>
			<real>0.21</real>
			<real>0</real>
		</array>
		<key>shengti6</key>
		<array>
			<real>47.85</real>
			<real>-0.49</real>
			<real>-0.01</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youshou_ID02</key>
		<array>
			<real>-89.955</real>
			<real>19.617</real>
			<real>-17.995</real>
			<real>0</real>
			<real>0</real>
			<real>-49.159</real>
		</array>
		<key>youtui_1_ID01</key>
		<array>
			<real>-47.9</real>
			<real>22.795</real>
			<real>19.49</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_2_ID03</key>
		<array>
			<real>-23.8</real>
			<real>38.48</real>
			<real>6.371</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>youtui_3</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuoshou_ID05</key>
		<array>
			<real>41.993</real>
			<real>19.685</real>
			<real>-18.225</real>
			<real>0</real>
			<real>0</real>
			<real>-63.941</real>
		</array>
		<key>zuotui_1_ID04</key>
		<array>
			<real>-0.08</real>
			<real>22.031</real>
			<real>19.49</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_2_ID06</key>
		<array>
			<real>24.078</real>
			<real>38.08</real>
			<real>6.363</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
		<key>zuotui_3</key>
		<array>
			<real>-0.08</real>
			<real>0.017</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0</real>
		</array>
	</dict>
</array>
</plist>
